%table.twelve.columns
  %tr
    %td.panel
      %p
        %a{:href => alib['href'] }
          - if alib['img'].blank?
            %img{:src => "http://placehold.it/140x105"}/
          -else
            %img{:src => alib['img'], :width => '150px'}/
    
    %td.panel{:valign=>"top"}    
      %p.lead
        %a{:href => alib['href'] }
          = alib['title']
        %br
        = alib['price'].blank? ? "Цена не указанна" : "#{alib['price']}"
      %p.qwery 
        = alib['q']
      %p.link
        %a{:href => alib['link'] }
          Запрос


    %td.expander
%br/
