%table.twelve.columns
  %tr
    %td.panel
      %p
        %a{:href => "#{bidspirit['href']}" }
          %img{:src => bidspirit['img'].blank? ? "http://placehold.it/140x105" : bidspirit['img'] }/
    
    %td.panel{:valign=>"top"}    
      %p.lead
        %a{:href => "#{bidspirit['href']}" }
          = bidspirit['title']
        %br
        = bidspirit['price'].blank? ? "Цена не указанна" : "#{bidspirit['price']}"
      %p.qwery 
        = bidspirit['q']
      %p.link
        %a{:href => bidspirit['link'] }
          Запрос

    %td.expander
%br/
