%table.twelve.columns
  %tr
    %td.panel
      %p
        %a{:href => "http://www.ebay.com/itm/#{ebay['id']}" }
          %img{:src => ebay['img'].blank? ? "http://placehold.it/140x105" : ebay['img'] }/
    
    %td.panel{:valign=>"top"}    
      %p.lead
        %a{:href => "http://www.ebay.com/itm/#{ebay['id']}" }
          = ebay['title']
        %br
        = ebay['price'].blank? ? "Цена не указанна" : "#{ebay['price']}"
      %p.qwery 
        = ebay['q'] 
      %p.link
        %a{:href => ebay['link'] }
          Запрос

    %td.expander
%br/
