%table.twelve.columns
  %tr
    %td.panel
      %p
        %a{:href => "http://newauction.ru/offer/i-i#{newauction['id']}.html" }
          %img{:src => newauction['img'].blank? ? "http://placehold.it/140x105" : newauction['img'] }/

    %td.panel{:valign=>"top"}        
      %p.lead
        %a{:href => "http://newauction.ru/offer/i-i#{newauction['id']}.html" }
          = newauction['title']
        %br
        = newauction['price'].blank? ? "Цена не указанна" : "#{newauction['price']}"
      %p.qwery 
        = newauction['q'] 
      %p.link
        %a{:href => newauction['link'] }
          Запрос

    %td.expander
%br/
