!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

  %body
    %h1= "Моиторниг Alib, магазин: #{@task.q}. Товаров в базе: #{@task.alib_tasklogs.count}"

    %h2= "Новые книги"
    %ul
      -@new_b.each do |ad|
        - new = @old_b.map { |ad_o| ad.q['title'] == ad_o.q['title'] && true || nil }.compact.empty?
        -if new
          %li
            = link_to ad.q['title'], ad.q['href']

    %h2= "Старые книги"
    %ul
      -@old_b.each do |ad|
        - new = @new_b.map { |ad_o| ad.q['title'] == ad_o.q['title'] && true || nil }.compact.empty?
        -if new
          %li
            - find = URI.encode( ad.q['title'].encode('windows-1251', { :invalid => :replace, :undef => :replace, :replace => '?' }) )
            = link_to "#{ad.q['title']} [#{ad.i}]", "http://www.alib.ru/find3.php4?tfind=#{find}&bsonly=#{@task.q}"

    %h2= "Обновлённые книги."
    %ul
      -@new_b.each do |ad|
        -@old_b.each do |ad_o|
          -if ad.q['title'] == ad_o.q['title']
            %li
              = link_to ad.q['title'], ad.q['href']
