!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

  %body
    %h2 Доступные файлы
    %ul
      -@ad.each do |ad|
        %li
          = link_to ad[:name], "http://85.143.221.191:3344/#{@folder}/xlsx/#{ad[:path]}"

    %h2= "Статистика товаров."

    -@files.each do |k, v|
      %hr
      %h3= "Задача - #{@folder} / old:#{v[:old].count}"

      %h4= "Новые"
      %ul
        -v[:new].each do |vv|
          %li
            = link_to vv.j['title']['value'], vv.url

      %h4= "Обновленно"
      %ul
        -v[:upd].each do |vv|
          %li
            = link_to vv.j['title']['value'], vv.url

      %h4= "Удаленно"
      %ul
        -v[:del].each do |vv|
          %li
            = link_to vv.j['title']['value'], vv.url

