!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/

  %body
    %h2 Обновленные точки
    %ul
      -@arr.each do |i|
        %li
          = link_to i, i
