= form_for @iml_point do |f|
  - if @iml_point.errors.any?
    #error_explanation
      %h2= "#{pluralize(@iml_point.errors.count, "error")} prohibited this iml_point from being saved:"
      %ul
        - @iml_point.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :zoom
    = f.text_field :zoom
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :time
    = f.text_field :time
  .field
    = f.label :photo
    = f.text_field :photo
  .field
    = f.label :metro
    = f.text_field :metro
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :lon
    = f.text_field :lon
  .field
    = f.label :geo
    = f.text_field :geo
  .field
    = f.label :city_id
    = f.number_field :city_id
  .actions
    = f.submit 'Save'
