%h1
  =t('iml_points')
  %small
    = I18n.localize Iml::City.find_by(prefix: "/Moscow").updated_at, :format => :long

%ul
  %li
    %a{:href=> '/iml/points?gen=msk'} Москва и область
  %li
    %a{:href=> '/iml/points?gen=spb'} СПБ и область
  %li
    %a{:href=> '/iml/points?gen=oth'} Остальные города



%table
  %thead
    %tr
      %th= t 'address'
      %th= t 'times'
      %th= t 'metro'
      %th
      %th

  %tbody
    - city_id = 0
    - @iml_points.each do |iml_point|
      - if iml_point.city_id != city_id
        - city_id = iml_point.city_id
        %tr
          %th{:colspan=> 6, :class=>'group'}
            %a{:href => "http://iml.ru/places#{iml_point.city.prefix}"}
              = iml_point.city.name

      %tr
        %td
          %a{:href => "http://iml.ru/places#{iml_point.link}"}
            = iml_point.address_formatted
        %td= iml_point.time
        %td= iml_point.metro

        %td= link_to t('show'), iml_point
        %td= link_to t('edit'), edit_iml_point_path(iml_point)
