%p#notice= notice

%p
  %b Name:
  = @iml_point.name
%p
  %b Link:
  = @iml_point.link
%p
  %b Zoom:
  = @iml_point.zoom
%p
  %b Address:
  = @iml_point.address

%p
  %b Address_formatted:
  = @iml_point.address_formatted

%p
  %b Path:
  = @iml_point.path
%p
  %b Time:
  = @iml_point.time
%p
  %b Photo:
  = @iml_point.photo
%p
  %b Metro:
  = @iml_point.metro
%p
  %b Lat:
  = @iml_point.lat
%p
  %b Lon:
  = @iml_point.lon
%p
  %b Geo:
  = @iml_point.geo
%p
  %b City:
  = @iml_point.city_id

= link_to 'Edit', edit_iml_point_path(@iml_point)
\|
= link_to 'Back', iml_points_path
