%table.table-basket
  %tbody

    %tr
      %th
        %b Метро
      %th
        %b Адрес
      %th{:style=>"padding-right: 5px;"}
        %b Стоимость
      %th
        %b Время работы

    - @iml_points.each do |iml_point|
      %tr
        %td= iml_point.metro
        %td
          %a{:href => "http://iml.ru/places#{iml_point.link}", :target=>"_blank"}
            = iml_point.address_formatted
        %td
          .delivery
            %span
              Стоимость:
            100 руб.

        %td= iml_point.time

