= form_for @artelbook_file do |f|
  - if @oartelbook_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artelbook_file.errors.count, "error")} prohibited this oartelbook_file from being saved:"
      %ul
        - @artelbook_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :task_id
    = f.number_field :task_id
  .actions
    = f.submit 'Save'
