%h1 Listing artelbook_files

%table
  %thead
    %tr
      %th Path
      %th Task
      %th
      %th
      %th

  %tbody
    - @artelbook_files.each do |artelbook_file|
      %tr
        %td= artelbook_file.path
        %td= artelbook_file.task_id
        %td= link_to 'Show', artelbook_file
        %td= link_to 'Edit', edit_artelbook_file_path(artelbook_file)
        %td= link_to 'Destroy', artelbook_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New File', new_artelbook_file_path
