%p#notice= notice

%p
  %b Path:
  = @artelbook_file.path
%p
  %b Task:
  = @artelbook_file.task_id





= link_to 'Edit', edit_artelbook_file_path(@artelbook_file)
\|
= link_to 'Back', artelbook_files_path
