= form_for @oldbook_task do |f|
  - if @oldbook_task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oldbook_task.errors.count, "error")} prohibited this oldbook_task from being saved:"
      %ul
        - @oldbook_task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :path
  .field
    = f.label :active
    = f.check_box :enable
  .actions
    = f.submit t('save')
