%h1 Список задач

%table
  %thead
    %tr
      %th=t 'name'
      %th=t 'url'
      %th 
      %th=t 'product_count'      
      %th
      %th
      %th

  %tbody
    - @oldbook_tasks.each do |oldbook_task|
      %tr
        %td= oldbook_task.name
        %td= oldbook_task.path
        %td= oldbook_task.enable ? t('active') : t('inactive')
        %td= oldbook_task.products.count
        %td= link_to t('show'), oldbook_task
        %td= link_to t('edit'), edit_oldbook_task_path(oldbook_task)
        %td= link_to t('destroy'), oldbook_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('new_task'), new_oldbook_task_path
