%p#notice= notice

%h1 
  Файлы  
  %small 
    = @oldbook_task.name 
    

%table
  %thead
    %tr
      %th=t 'created_at'
      %th
      %th

  %tbody
    - @oldbook_task.files.order(:created_at=>:desc).each do |oldbook_file|
      %tr
        %td= oldbook_file.created_at
        %td= link_to t('download'), "/oldbooks/xlsx/#{oldbook_file.path}"
        %td= link_to t('destroy'), oldbook_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('edit'), edit_oldbook_task_path(@oldbook_task)
\|
= link_to t('back'), oldbook_tasks_path
