= form_for @artelbook_product do |f|
  - if @artelbook_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artelbook_product.errors.count, "error")} prohibited this artelbook_product from being saved:"
      %ul
        - @artelbook_product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :task_id
    = f.number_field :task_id
  .field
    = f.label :category_id
    = f.number_field :category_id
  .field
    = f.label :uid
    = f.text_field :uid
  .field
    = f.label :parse
    = f.check_box :parse
  .field
    = f.label :j
    = f.text_field :j
  .actions
    = f.submit 'Save'
