%h1 Listing artelbook_products

%table
  %thead
    %tr
      %th Path
      %th Task
      %th Category
      %th Uid
      %th Parse
      %th J
      %th
      %th
      %th

  %tbody
    - @artelbook_products.each do |artelbook_product|
      %tr
        %td= artelbook_product.path
        %td= artelbook_product.task_id
        %td= artelbook_product.category_id
        %td= artelbook_product.uid
        %td= artelbook_product.parse
        %td= artelbook_product.j
        %td= link_to t('show'), artelbook_product
        %td= link_to t('edit'), edit_artelbook_product_path(artelbook_product)
        %td= link_to t('destroy'), artelbook_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_artelbook_product_path
