%p#notice= notice

%p
  %b Path:
  = @artelbook_product.path
%p
  %b Task:
  = @artelbook_product.task_id
%p
  %b Category:
  = @artelbook_product.category_id
%p
  %b Uid:
  = @artelbook_product.uid
%p
  %b Parse:
  = @artelbook_product.parse
%p
  %b J:
  = @artelbook_product.j

= link_to 'Edit', edit_artelbook_product_path(@artelbook_product)
\|
= link_to 'Back', artelbook_products_path
