= form_for @oldbook_category do |f|
  - if @oldbook_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oldbook_category.errors.count, "error")} prohibited this oldbook_category from being saved:"
      %ul
        - @oldbook_category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :path
    = f.text_field :path, :disabled=>'disabled'

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :uuid
    = f.text_field :uid
  .actions
    = f.submit t('save')
