%h1 Список категорий

%table
  %thead
    %tr
      %th= t 'name'
      %th= t 'product_count'
      %th= t 'uuid'
      %th
      %th

  %tbody
    - @oldbook_categories.each do |oldbook_category|
      %tr
        %td= oldbook_category.name
        %td= oldbook_category.products.count
        %td= oldbook_category.uid
        %td= link_to t('show'), oldbook_category
        %td= link_to t('edit'), edit_oldbook_category_path(oldbook_category)