%p#notice= notice

%p
  %b Name:
  = @oldbook_category.name
%p
  %b Path:
  = @oldbook_category.path
%p
  %b Uid:
  = @oldbook_category.uid
%p
  %b Updated_at:
  = @oldbook_category.updated_at
%p
  %b Created_at
  = @oldbook_category.created_at


= link_to t('edit'), edit_oldbook_category_path(@oldbook_category)
\|
= link_to t('back'), oldbook_categories_path
