= form_for @task do |f|


  - if @task.errors.any?
    -flash[:alert] = "<ul>"
    -@task.errors.full_messages.each do |msg|
      -flash[:alert] += '<li>'+msg+'</li>'
    -flash[:alert] += "</ul>"


  %fieldset
    %legend Параметры Поиска
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name, :placeholder => "Имя задачи"

      .large-12.columns
        = f.label :q do
          Фраза для поиска
          %small
            (проверяется только первая)
        = f.text_area :q, :placeholder => "Список запросов для поиска Каждый запрос с новой стороки"

    .row
      .large-6.columns
        %label
          Выберите регион
        %select#avito_main_regions{:name => "task[p][locationId]"}

        /ajax add selects
        #avito_sub_regions

      .large-6.columns
        %label
          Категория
        %select#avito_main_cs

        %label
          Подкатегория
        %select#avito_sub_cs{:disabled => "", :name => 'task[p][categoryId]'}
    .row
      .large-12.cloumns
        %span{:class => "sub-params", :id => "subl_location"}

    .row#avito_search_params


  /ajax add params
  %fieldset
    %legend Действие на новые сообщения

    %label{:for => "e_email"} Email(сразу)
    %input#e_email{:name => "task[e][email]", :placeholder => "Укажите свою почту", :type => "text"}/


    = f.label :notifi_template_id do
      Шаблон нотификации
    =f.select :notifi_template_id , @notifi_teplates, {include_blank: t('none')}

    .row
      .large-12.columns
        = f.label :gdrive_id do
          Включить заспросы из google doc
        =f.select :gdrive_id , @gdrive, {include_blank: t('none')}

    /%label{:for => "e_growl_ip"}
    /  Growl
    /  %a{:href => "http://info.0liva.ru/growl"} ?
    /%input#e_growl_ip{:name => "task[e][growl][host]", :placeholder => "Публичный адрес:порт", :type => "text"}/
    /%input#e_growl_pw{:name => "task[e][growl][pass]", :placeholder => "Укажите пароль",       :type => "text"}/

    /%label{:for => "e_http"}
    /  HTTP запрос
    /  %a{:href => "http://info.0liva.ru/http_post"} ?
    /%input#e_http{:name => "task[e][url]", :placeholder => "Укажите URL", :type => "text"}/

  %fieldset
    %legend Переодичность

    .row
      .large-6.columns
        = f.label :interval do
          Интервал
          %span{:id=>"avito_interval"}
          Мин.


        =f.range_field :interval, in:10..44640, step:30

      .large-6.columns
        %label
          Включить задачу
        .switch
          = f.check_box :active, {:checked => "", :class => 'switch-input'}
          = f.label :active, {:class => 'switch-paddle'} do
            %span{:class=>"show-for-sr"}
              Активно

    .row
      .large-12.columns
        .date
          = f.label :next_at do
            Следующий запуск UTC
          =f.datetime_select :next_at

  %hr

  %ul.stack.button-group
    = link_to avito_tasks_path, :class => 'button secondary' do
      Назад

    = link_to "#", :class=>"button alert", :id => 'bnt-test-task' do
      Проверка

    =f.button :class=>"button success", :id => 'task_submit', :disabled=>"" do
      Сохранить
