%table{:role => 'grid', :summary => "Задачи для #{current_user.email}", :width=>"100%"}
  %caption
    Задачи для 
    = current_user.email
  %thead 
    %tr
      %th Название
      %th Интервал
      %th Активность
      %th Прошло

      %th
      %th

  - @tasks.each do |task|
    %tr
      %td
        =link_to task do
          = task.name
    
      %td= task.interval
      %td= task.active ? "Вкл" : "Выкл"
      %td= time_ago_in_words(I18n.l task.updated_at) 

      %td= link_to 'Править', edit_avito_task_path(task)
      %td= link_to 'Удалить', avito_task_path(task), :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to new_avito_task_path, :class => "button expand success" do
  Новая задача