%p#notice= notice

%h1 Подробная информация


%p
  %b Название:
  = @task.name
%p
  %b Интервал в минутах:
  = @task.interval
%p
  %b Активность:
  = @task.active ? "Да" : "Нет"

%p
  %b Колличество обьявлений на авито:
  = @task.count

%p
  %b Обработанно:
  = @task.avito_tasklogs.count

%p
  %b Время следующего запуска:
  = @task.next_at

%p
  %b Задача созданна
  = @task.created_at

%p
  %b Задача Обновленна
  = @task.updated_at


= link_to avito_tasks_path, :class => 'button secondary' do  
  Назад
