%h1 Список категорий

%table
  %thead
    %tr
      %th= t 'name'
      %th= t 'product_count'
      %th= t 'uuid'
      %th
      %th

  %tbody
    - @artelbook_categories.each do |artelbook_category|
      %tr
        %td= artelbook_category.name
        %td= artelbook_category.products.count
        %td= artelbook_category.uid
        %td= link_to t('show'), artelbook_category
        %td= link_to t('edit'), edit_artelbook_category_path(artelbook_category)
