%p#notice= notice

%p
  %b Name:
  = @artelbook_category.name
%p
  %b Path:
  = @artelbook_category.path
%p
  %b Uid:
  = @artelbook_category.uid
%p
  %b Updated_at:
  = @artelbook_category.updated_at
%p
  %b Created_at
  = @artelbook_category.created_at


= link_to t('edit'), edit_artelbook_category_path(@artelbook_category)
\|
= link_to t('back'), artelbook_categories_path
