= form_for @gdrive do |f|
  - if @gdrive.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gdrive.errors.count, "error")} prohibited this gdrife from being saved:"
      %ul
        - @gdrive.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :spreadsheet
    = f.text_field :spreadsheet
  .field
    = f.label :enable
    = f.check_box :enable
  .actions
    = f.submit 'Save'
