%h1 Listing gdrives

%table
  %thead
    %tr
      %th Name
      %th Spreadsheet
      %th Enable
      %th Succes
      %th Result
      %th
      %th
      %th

  %tbody
    - @gdrives.each do |gdrife|
      %tr
        %td= gdrife.name
        %td= gdrife.spreadsheet
        %td= gdrife.enable
        %td= gdrife.succes
        %td= gdrife.result
        %td= link_to 'Show', gdrife
        %td= link_to 'Edit', edit_gdrife_path(gdrife)
        %td= link_to 'Destroy', gdrife, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gdrive', new_gdrife_path
