%p#notice= notice

%p
  %b Name:
  = @gdrive.name
%p
  %b Spreadsheet:
  = @gdrive.spreadsheet
%p
  %b Enable:
  = @gdrive.enable

%hr

%p
  %b Название документа:
  = @ss.properties.title

  
%ul
  -@rows.each do |row|
    %li
      =row




= link_to 'Edit', edit_gdrife_path(@gdrive)
\|
= link_to 'Back', gdrives_path
