= form_for @notifi_template do |f|

  - if @notifi_template.errors.any?
    -flash[:alert] = "<ul>"
    -@notifi_template.errors.full_messages.each do |msg|
      -flash[:alert] += '<li>'+msg+'</li>'
    -flash[:alert] += "</ul>"


  %fieldset
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name, :placeholder => "Имя шаблона"

    .row
      .large-12.columns
        //= f.label :s
        //= f.text_field :name, :placeholder => "Шаблон"

  /ajax add params
  %fieldset
    %legend Путь нотификаций

    %label{:for => "s_email"} Email
    %input#s_email{:name => "notifi_template[s][email]",
                   :placeholder => "Укажите свою почту",
                   :type => "text",
                   :value => @notifi_template.s['email']}/


  %fieldset
    %legend Переодичность

    .row
      .large-6.columns
        = f.label :interval do
          Интервал
          %span{:id=>"RangeIntervalResult"}
            = @notifi_template.interval
          Мин.

        =f.range_field :interval, in:10..44640, step:30, class:"range-interval"

        .date
          = f.label :next_at do
            Следующий запуск UTC
          =f.datetime_select :next_at


      .large-6.columns
        %label
          Включить задачу
        .switch
          = f.check_box :active, {:class => 'switch-input'}
          = f.label :active, {:class => 'switch-paddle'} do
            %span{:class=>"show-for-sr"}
              Активно



  %hr

  %ul.stack.button-group
    = link_to notifi_templates_path, :class => 'button secondary' do
      Назад
    =f.button :class=>"button success", :id => 'task_submit' do
      Сохранить
