%h1 Список нотификаций

%table
  %thead
    %tr
      %th=t 'name'
      %th=t 'active'
      %th=t 'interval'
      %th=t 'next_at'
      %th
      %th

  %tbody
    - @notifi_templates.each do |notifi_template|
      %tr
        %td= link_to notifi_template.name, notifi_template
        %td=t "bool_#{notifi_template.active}"
        %td= notifi_template.interval
        %td= notifi_template.next_at
        %td= link_to t('edit'), edit_notifi_template_path(notifi_template)
        %td= link_to t('destroy'), notifi_template, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to new_notifi_template_path, :class => "button expand success" do
  = t('new')