
%p#notice= notice

%p
  %b Name:
  = @notifi_template.name
%p
  %b S:
  = @notifi_template.s
%p
  %b Active:
  = @notifi_template.active
%p
  %b Interval:
  = @notifi_template.interval
%p
  %b Next at:
  = @notifi_template.next_at


%h1 Список нотификаций

%table
  %thead
    %tr
      %th Контент      
      %th Отправленно      
      %th Создан
      %th Удалить     

  %tbody
    - @notifi_template.notifi_contents.each do |nc|
      %tr
        %td 
          = link_to 'Посмотреть', notifi_template_path(@notifi_template, :content_id => nc.id)   
        %td= t(nc.sends)
        %td= nc.created_at
        %td
          -if nc.sends
            = link_to 'Удалить',  notifi_content_path(nc), :method => :delete, :data => { :confirm => 'Are you sure?' }
