%table
  %thead
    %tr
      %th Модуль     

  %tbody
    -c = JSON.parse(@notifi_content.content)
    - c.each do |nc|
      %tr
        %th= nc[0]
      -nc[1].each do |ncc|
        %tr
          %td
            -if nc[0] == 'Avito::Task'
              %h6
                %a{:href => "https://avito.ru/#{ncc['id']}" }
                  = ncc['title']
                  \(
                  = ncc['userType']
                  \)
              %p
                %a{:href => ncc['url'] }
                  %img.imgj{:src => ncc['images'].blank? ? "http://placehold.it/140x105" : ncc['images']['main']['140x105'] }/
                
              %p.lead
                №: 
                = ncc['id']
                %br
                = ncc['phone']
                %br
                = ncc['price'].blank? ? "Цена не указанна" : "#{ncc['price']['value']} #{ncc['price']['metric']}"

              %p.qwery 
                = ncc['q']



            -elsif nc[0] == 'Ebay::Task'
              %h6
                %a{:href => "http://www.ebay.com/itm/#{ncc['id']}" }
                  = ncc['title']
              %p
                %a{:href => "http://www.ebay.com/itm/#{ncc['id']}" }
                  %img.imgj{:src => ncc['img'].blank? ? "http://placehold.it/140x105" : ncc['img'] }/
                
              %p.lead
                %br
                = ncc['price'].blank? ? "Цена не указанна" : "#{ncc['price']}"
              %p.qwery 
                = ncc['q']

            -elsif nc[0] == 'Newauction::Task'
              %h6
                %a{:href => "http://newauction.ru/offer/i-i#{ncc['id']}.html" }
                  = ncc['title']
              %p
                %a{:href => "http://newauction.ru/offer/i-i#{ncc['id']}.html" }
                  %img.imgj{:src => ncc['img'].blank? ? "http://placehold.it/140x105" : ncc['img'] }/
                
              %p.lead
                %br
                = ncc['price'].blank? ? "Цена не указанна" : "#{ncc['price']}"
              %p.qwery 
                = ncc['q']

            -elsif nc[0] == 'Alib::Task'
              %h6
                %a{:href => "http://newauction.ru/offer/i-i#{ncc['id']}.html" }
                  = ncc['title']
              %p
                %a{:href => ncc['href'] }
                  - if ncc['img'].blank?
                    %img{:src => "http://placehold.it/140x105"}/
                  -else
                    %img{:src => ncc['img'], :width => '150px'}/

              %p.lead
                %br
                  = ncc['price'].blank? ? "Цена не указанна" : "#{ncc['price']}"
              %p.qwery 
                = ncc['q']                    

            -elsif nc[0] == 'Bidspirit::Task'
              %h6
                %a{:href => "#{ncc['href']}" }
                  = ncc['title']
              %p
                %a{:href => "#{ncc['href']}" }
                  %img.imgj{:src => ncc['img'].blank? ? "http://placehold.it/140x105" : ncc['img'] }/
              %p.qwery 
                = ncc['q']
            -else




= link_to 'Edit', edit_notifi_template_path(@notifi_template)
\|
= link_to 'Back', notifi_templates_path
