%h1
  = @setting.about
  %small 
    = @setting.name

= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |msg|
          %li= msg

  -if @setting.t == 'text'
    .field
      = f.text_area :v

  -if @setting.t == 'json'
    .field
      = f.text_area :vh

  -elsif @setting.t == 'string'      
    .field
      = f.text_field :v
  -elsif @setting.t == 'integer'      
    .field
      = f.number_field :v      

  .actions
    = f.submit t('save')

= link_to t('back'), settings_path
