%h1 Настройки

%table
  %thead
    %tr
      %th=t 'name'
      %th=t 'about'
      %th


  %tbody
    - @settings.each do |setting|
      %tr
        %td= setting.name
        %td= setting.about
        %td= link_to t('edit'), edit_setting_path(setting)

%br