%h1 Список задач

%table
  %thead
    %tr
      %th= t'name'
      %th= t'interval'
      %th= t'active'
      %th= t'next_at'
      %th
      %th

  %tbody
    - @ebay_tasks.each do |ebay_task|
      %tr
        %td= link_to ebay_task.name, ebay_task
        %td= ebay_task.interval
        %td=t("bool_#{ebay_task.active}")
        %td= ebay_task.next_at
        %td= link_to t('edit'), edit_ebay_task_path(ebay_task)
        %td= link_to t('destroy'), ebay_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to new_ebay_task_path, :class => "button expand success" do
  = t('new')