%p#notice= notice

%p
  %b Name:
  = @ebay_task.name
%p
  %b Stat:
  = @ebay_task.stat
%p
  %b Count:
  = @ebay_task.count
%p
  %b Interval:
  = @ebay_task.interval
%p
  %b Active:
  = @ebay_task.active
%p
  %b Counter:
  = @ebay_task.counter
%p
  %b P:
  = @ebay_task.p
%p
  %b E:
  = @ebay_task.e
%p
  %b Next at:
  = @ebay_task.next_at

= link_to 'Edit', edit_ebay_task_path(@ebay_task)
\|
= link_to 'Back', ebay_tasks_path
