= form_for @notification_content do |f|
  - if @notification_content.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification_content.errors.count, "error")} prohibited this notification_content from being saved:"
      %ul
        - @notification_content.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :c
    = f.text_field :c
  .field
    = f.label :notification_template_id
    = f.number_field :notification_template_id
  .field
    = f.label :send
    = f.check_box :send
  .actions
    = f.submit 'Save'
