%h1 Listing notification_contents

%table
  %thead
    %tr
      %th C
      %th Notification template
      %th Send
      %th
      %th
      %th

  %tbody
    - @notification_contents.each do |notification_content|
      %tr
        %td= notification_content.c
        %td= notification_content.notification_template_id
        %td= notification_content.send
        %td= link_to 'Show', notification_content
        %td= link_to 'Edit', edit_notification_content_path(notification_content)
        %td= link_to 'Destroy', notification_content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_notification_content_path
