%p#notice= notice

%p
  %b C:
  = @notification_content.c
%p
  %b Notification template:
  = @notification_content.notification_template_id
%p
  %b Send:
  = @notification_content.send

= link_to 'Edit', edit_notification_content_path(@notification_content)
\|
= link_to 'Back', notification_contents_path
