= form_for @artelbook_task do |f|
  - if @artelbook_task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artelbook_task.errors.count, "error")} prohibited this artelbook_task from being saved:"
      %ul
        - @artelbook_task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :path
  .field
    = f.label :price_ratio
    = f.text_field :price_ratio
  .field
    = f.label :sku_regex
    = f.text_field :sku_regex
  .field
    = f.label :title_exclude
    = f.text_field :title_exclude
  .field
    = f.label :active
    = f.check_box :enable


  .actions
    = f.submit t('save')
