%h1 Список задач

%table
  %thead
    %tr
      %th=t 'name'
      %th=t 'url'
      %th
      %th=t 'product_count'
      %th
      %th
      %th

  %tbody
    - @artelbook_tasks.each do |artelbook_task|
      %tr
        %td= artelbook_task.name
        %td= artelbook_task.path
        %td= artelbook_task.enable ? t('active') : t('inactive')
        %td= artelbook_task.products.count
        %td= link_to t('show'), artelbook_task
        %td= link_to t('edit'), edit_artelbook_task_path(artelbook_task)
        %td= link_to t('destroy'), artelbook_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if File.exist?('tmp/pids/artelbook.pid')
  = link_to "#", :class => 'button disabled' do
    Задача запущенна
-elsif File.exist?('tmp/artelbook_task')
  = link_to "#", :class => 'button disabled' do
    Задача ожидает запуска
- else
  = link_to artelbook_tasks_path(:task => :run), :class => 'button secondary ' do
    Запустить задачу


= link_to new_artelbook_task_path, :class => 'button primary' do
  =t('new_task')
