%p#notice= notice

%h1
  Файлы
  %small
    = @artelbook_task.name


%table
  %thead
    %tr
      %th=t 'created_at'
      %th
      %th

  %tbody
    - @artelbook_task.files.order(:created_at=>:desc).each do |artelbook_file|
      %tr
        %td= artelbook_file.created_at
        %td= link_to t('download'), "/artelbook/xlsx/#{artelbook_file.path}"
        %td= link_to t('destroy'), artelbook_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('edit'), edit_artelbook_task_path(@artelbook_task)
\|
= link_to t('back'), artelbook_tasks_path
