
      <table class="table-basket">
        <tbody>
        <tr>
          <th><b>Метро/Город</b></th>
          <th><b>Адрес</b></th>
          <th style="padding-right: 5px;"><b>Стоимость</b></th>
          <th><b>Время работы</b></th>
        </tr>
    
        <tr>
          <td><b>Академика Янгеля</b></td>
          <td>
            <a href="http://iml.ru/places?msk116" target="_blank">
            м. Академика Янгеля,  ул. Россошанская, д. 3, кор. 1А, стр. 2.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Алтуфьево</b></td>
          <td>
            <a href="http://iml.ru/places?msk26" target="_blank">
            м. Алтуфьево,  Алтуфьевское шоссе, д. 80.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:30; сб-вс с 10:00 до 19:30; Зимнее время: пн-вс с 10:00 до 20:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Б-р Адмирала Ушакова</b></td>
          <td>
            <a href="http://iml.ru/places?msk118" target="_blank">
            м. Б-р Адмирала Ушакова,  ул. Венёвская, д. 4.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Беговая</b></td>
          <td>
            <a href="http://iml.ru/places?msk119" target="_blank">
            м. Беговая,  ул. Розанова, д. 4.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Борисово</b></td>
          <td>
            <a href="http://iml.ru/places?msk120" target="_blank">
            м. Борисово,  ул. Мусы Джалиля, д. 4А.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Братиславская</b></td>
          <td>
            <a href="http://iml.ru/places?msk4" target="_blank">
            м. Братиславская,  ул. Братиславская, д. 16/2.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Дмитрия Донского</b></td>
          <td>
            <a href="http://iml.ru/places?msk24" target="_blank">
            м. Бульвар Дмитрия Донского,  ул. Старокачаловская, д. 5А.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Бунинская аллея</b></td>
          <td>
            <a href="http://iml.ru/places?msk117" target="_blank">
            м. Бунинская аллея,  ул. Адмирала Лазарева, д.63, к.1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>ВДНХ</b></td>
          <td>
            <a href="http://iml.ru/places?msk21" target="_blank">
            м. ВДНХ,  ул. Проспект Мира, д. 176.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Выхино</b></td>
          <td>
            <a href="http://iml.ru/places?msk13" target="_blank">
            м. Выхино,  Рязанский проспект, вл. 101Б.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Домодедовская</b></td>
          <td>
            <a href="http://iml.ru/places?msk28" target="_blank">
            м. Домодедовская,  Ореховый бульвар, д. 14, кор.3.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Киевская</b></td>
          <td>
            <a href="http://iml.ru/places?msk127" target="_blank">
            м. Киевская,  ул. Брянская, д. 2.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Коломенская</b></td>
          <td>
            <a href="http://iml.ru/places?msk18" target="_blank">
            м. Коломенская,  Проспект Андропова д. 36.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Комсомольская</b></td>
          <td>
            <a href="http://iml.ru/places?msk22" target="_blank">
            м. Комсомольская,  Комсомольская пл., д. 6.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Кунцевская</b></td>
          <td>
            <a href="http://iml.ru/places?msk121" target="_blank">
            м. Кунцевская,  ул. Толбухина, д.12, к.1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Митино</b></td>
          <td>
            <a href="http://iml.ru/places?msk15" target="_blank">
            м. Митино,  ул. Митинская, д. 42.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-сб с 10:00 до 21:00; вс с 10:00 до 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Новогиреево</b></td>
          <td>
            <a href="http://iml.ru/places?msk12" target="_blank">
            м. Новогиреево,  Свободный проспект, д. 33А.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы:  пн-пт с 10:00 до 20:30; сб-вс с 10:00 до 19:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Новые Черемушки</b></td>
          <td>
            <a href="http://iml.ru/places?msk5" target="_blank">
            м. Новые Черемушки,  ул. Профсоюзная, д. 45.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Парк Культуры</b></td>
          <td>
            <a href="http://iml.ru/places?msk122" target="_blank">
            м. Парк Культуры,  Зубовский бульвар, д. 16-20.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Коровинское шоссе</b></td>
          <td>
            <a href="http://iml.ru/places?msk50" target="_blank">
            м. Петровско-Разумовская,  Коровинское шоссе, д. 1, корп. 1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:00 (перерыв с 14:00 до 15:00); сб с 10:00 до 18:00 (перерыв с 14:00 до 15:00); вс с 10:00 до 15:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Петровско-Разумовская</b></td>
          <td>
            <a href="http://iml.ru/places?msk6" target="_blank">
            м. Петровско-Разумовская,  ул. Линии Октябрьской Железной Дороги, д. 2, стр. 2.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Бирюлево, м. Пражская</b></td>
          <td>
            <a href="http://iml.ru/places?msk108" target="_blank">
            м. Пражская,  ул. Булатниковская, д.6А.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:00; сб с 10:00 до 18:00; вс с 10:00 до 15:00; Перерыв: пн-сб с 14:00 до 15:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пражская</b></td>
          <td>
            <a href="http://iml.ru/places?msk124" target="_blank">
            м. Пражская,  ул. Кировоградская, д. 22Г.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Электрозаводская</b></td>
          <td>
            <a href="http://iml.ru/places?Elektro1" target="_blank">
            м. Преображенская пл./Электрозаводская,  ул. Электрозаводская, д. 24.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 18:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пролетарская</b></td>
          <td>
            <a href="http://iml.ru/places?msk106" target="_blank">
            м. Пролетарская,  Иерусалимский проезд, д. 4
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 19:00; сб с 10:00 до 17:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пушкинская</b></td>
          <td>
            <a href="http://iml.ru/places?msk1" target="_blank">
            м. Пушкинская/Тверская,  Малый Палашевский пер., д. 6
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Речной вокзал</b></td>
          <td>
            <a href="http://iml.ru/places?msk14" target="_blank">
            м. Речной вокзал,  ул. Смольная, д. 24Г.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Серпуховская</b></td>
          <td>
            <a href="http://iml.ru/places?msk126" target="_blank">
            м. Серпуховская,  ул. Большая Серпуховская, д. 46, стр. 34.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 20:00; сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Сокол</b></td>
          <td>
            <a href="http://iml.ru/places?msk49" target="_blank">
            м. Сокол,  Волоколамское шоссе, д. 1, стр. 1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 19:00; сб с 12:00 до 16:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Сходненская</b></td>
          <td>
            <a href="http://iml.ru/places?msk16" target="_blank">
            м. Сходненская,  ул. Героев Панфиловцев, д. 1А.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-сб с 10:00 до 21:00; вс с 10:00 до 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Теплый стан</b></td>
          <td>
            <a href="http://iml.ru/places?msk17" target="_blank">
            м. Теплый стан,  Новоясеневский проспект, д. 2А, стр. 1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Третьяковская</b></td>
          <td>
            <a href="http://iml.ru/places?msk27" target="_blank">
            м. Третьяковская,  ул. Малая Ордынка, д. 25
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Филевский парк</b></td>
          <td>
            <a href="http://iml.ru/places?msk105" target="_blank">
            м. Филевский парк,  ул. Большая Филевская, д. 37, корп. 1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 19:00; сб с 10:00 до 17:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Цветной бульвар</b></td>
          <td>
            <a href="http://iml.ru/places?msk134" target="_blank">
            м. Цветной бульвар,  ул. Трубная,  д. 32, стр. 4.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10.00 до 19.00; сб с 10.00 до 17.00; вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Щелковская</b></td>
          <td>
            <a href="http://iml.ru/places?msk11" target="_blank">
            м. Щелковская,  ул. 9-я парковая, д. 61А, стр.1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Юго-Западная</b></td>
          <td>
            <a href="http://iml.ru/places?msk8" target="_blank">
            м. Юго-Западная,  Проспект Вернадского, д. 86Б, стр.1.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 10:00 до 20:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Новопеределкино</b></td>
          <td>
            <a href="http://iml.ru/places?MSK51" target="_blank">
            Москва, ул. Лукинская, д.8
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-20:00, Сб 11:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Г. Балашиха, мкр. Янтарный, ул. Кольцевая, д. 3, корп.2</b></td>
          <td>
            <a href="http://iml.ru/places?Balaschicha3" target="_blank">
            Балашиха, мкр. Янтарный, ул. Кольцевая, д. 3, корп.2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-20:00, Сб  11:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>г. Балашиха, пр-т Ленина 10 А</b></td>
          <td>
            <a href="http://iml.ru/places?Balaschicha2" target="_blank">
            Балашиха, пр-т Ленина 10 А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт  10:00- 20:00, Сб-Вс 10:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>г. Балашиха, ул. Советская, д.2/9, пом.76</b></td>
          <td>
            <a href="http://iml.ru/places?Balaschicha4" target="_blank">
            Балашиха, ул. Советская, д.2/9, пом.76
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 10:00-18:00, Сб 10:00-17:00, Вс 10:00-15:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Дмитров, ул.Аверьянова</b></td>
          <td>
            <a href="http://iml.ru/places?dmitr1" target="_blank">
            Дмитров, ул. Аверьянова , д. 17 (магазин "Школьник")
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00, Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Дмитров, ул.Космонавтов</b></td>
          <td>
            <a href="http://iml.ru/places?Dmitrov2" target="_blank">
            Дмитров, ул. Космонавтов, 56, оф.2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-19:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Домодедово, ул. Лунная</b></td>
          <td>
            <a href="http://iml.ru/places?msk60" target="_blank">
            Домодедово,  ул. Лунная, д. 9
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:00; сб-вс с 10:00 до 18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Долгопрудный, Лихачевское шоссе</b></td>
          <td>
            <a href="http://iml.ru/places?Dolgoprudniy1" target="_blank">
            Долгопрудный, Лихачевское шоссе д.6
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс  10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Дубна</b></td>
          <td>
            <a href="http://iml.ru/places?Dubna1" target="_blank">
            Дубна, проспект Боголюбова, д. 16
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 10:00-20:00, Сб-Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Балашиха, ул. Зеленая</b></td>
          <td>
            <a href="http://iml.ru/places?Balashikha" target="_blank">
            Зеленая ул.  32 д. Балашиха .Мос. Обл. Балашиха 143902
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>пн-вс 10:30-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Зеленоград, корпус 1805</b></td>
          <td>
            <a href="http://iml.ru/places?Zelenograd3" target="_blank">
            Зеленоград корпус 1805
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 12:00-20:00, Сб 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Зеленоград, Георгиевский проспект</b></td>
          <td>
            <a href="http://iml.ru/places?Zelen1" target="_blank">
            Зеленоград, Георгиевский проспект, д.5
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>18 февраля ПВЗ не работает. Пн-Пт 10:00 - 20:00, Сб 10:00 - 16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Зеленоград, корп.1627</b></td>
          <td>
            <a href="http://iml.ru/places?Zelenograd4" target="_blank">
            Зеленоград, корп.1627
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 10:00-20:00, Сб-Вс 10:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Зеленоград, корпус 900</b></td>
          <td>
            <a href="http://iml.ru/places?Zelenograd2" target="_blank">
            Зеленоград, корпус 900
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 12:30-20:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Зеленоград, Андреевка, вл13с2</b></td>
          <td>
            <a href="http://iml.ru/places?Zelenograd5" target="_blank">
            Зеленоград, ул. Андреевка, вл13с2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 12:00-20:00,Сб 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Ивантеевка, ул.Толмачева</b></td>
          <td>
            <a href="http://iml.ru/places?Ivanteevka1" target="_blank">
            Ивантеевка, ул. Толмачева, д 1/2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00, Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Клин, ул.Ленина</b></td>
          <td>
            <a href="http://iml.ru/places?Klin" target="_blank">
            Клин, ул.Ленина, д.45/20, оф.111
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт  09:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Королев, мкр. Юбилейный</b></td>
          <td>
            <a href="http://iml.ru/places?msk58" target="_blank">
            Королев,  мкр. Юбилейный, ул. Пионерская, д. 1/4, офис 3.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 19:00; сб с 11:00 до 15:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Королев, ул. Октябрьская</b></td>
          <td>
            <a href="http://iml.ru/places?krl1" target="_blank">
            Королев, ул Октябрьская , д 12/2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00, Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Королев, пр-т Космонавтов</b></td>
          <td>
            <a href="http://iml.ru/places?Korolev2" target="_blank">
            Королёв, пр-кт Космонавтов, д. 20А, ОДЦ "Гелиос", павильон 316
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс  10:30-19:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Мытищи, ул. Семашко</b></td>
          <td>
            <a href="http://iml.ru/places?Mytishi1" target="_blank">
            Мытищи, ул. Семашко ул. 35д., оф.19
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 09:00-21:00, Сб-Вс 10:00-19:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Апрелевка, ул.Августовская</b></td>
          <td>
            <a href="http://iml.ru/places?Aprelevka" target="_blank">
            Наро-Фоминский р-н, Апрелевка, ул. Августовская, д. 40
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 11:00-23:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Ногинск, ул Третьего интернационала</b></td>
          <td>
            <a href="http://iml.ru/places?Noginsk1" target="_blank">
            Ногинск, улица Третьего Интернационала 62
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00-21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Подольск, ул. Тепличная</b></td>
          <td>
            <a href="http://iml.ru/places?msk109" target="_blank">
            Подольск,  ЖД станция Силикатная, ул. Тепличная, д. 2.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 19:30 (перерыв с 14:00 до 14:30); сб-вс выходной.</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Подольск, Проспект Ленина.</b></td>
          <td>
            <a href="http://iml.ru/places?msk135" target="_blank">
            Подольск,  Проспект Ленина, д. 8.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: ежедневно с 09:00 до 22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Подольск, Революционный пр-кт</b></td>
          <td>
            <a href="http://iml.ru/places?msk35" target="_blank">
            Подольск,  Революционный проспект, д.18, пом. 12
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 19:30; сб c 11:00 до 18:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Подольск, ул. Кирова</b></td>
          <td>
            <a href="http://iml.ru/places?msk112" target="_blank">
            Подольск,  ул. Кирова, д. 50/2
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 09.00 до 19.00; сб с 10.00 до 14.00; вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Подольск, ул. Юбилейная</b></td>
          <td>
            <a href="http://iml.ru/places?msk25" target="_blank">
            Подольск,  ул. Юбилейная, д. 11.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:00 (перерыв с 14:00 до 15:00); сб с 10:00 до 18:00 (перерыв с 14:00 до 15:00); вс с 10:00 до 15:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Пушкино, ул. Тургенева</b></td>
          <td>
            <a href="http://iml.ru/places?Pushkino" target="_blank">
            Пушкино, ул. Тургенева, д. 5
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00,  Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>г. Реутов, ул. Ленина 1а</b></td>
          <td>
            <a href="http://iml.ru/places?Reutov1" target="_blank">
            Реутов, ул. Ленина 1а
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 10:00-20:30, Сб 10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Сергиев Посад, пр-кт Красной Армии</b></td>
          <td>
            <a href="http://iml.ru/places?Sergiev Posad" target="_blank">
            Сергиев Посад, пр-кт Красной Армии, д. 180
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Ежедневно с 10 до 20 без обеда, без выходных</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Сергиев Посад, пр. Красной Армии</b></td>
          <td>
            <a href="http://iml.ru/places?Sergiev1" target="_blank">
            Сергиев Посад, пр. Красной Армии, 91б, ком.10
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт: 10 - 19 Сб: 10 - 15</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Серпухов, ул Ворошилова</b></td>
          <td>
            <a href="http://iml.ru/places?" target="_blank">
            Серпухов, ул. Ворошилова, д.60
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 09:00-19:00, Сб 10:00-13:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Солнечногорск, ул. Красная</b></td>
          <td>
            <a href="http://iml.ru/places?solnechnogorsk2" target="_blank">
            Солнечногорск, ул. Красная, д. 66
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 12:00-20:00, Сб 11:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Солнечногорск, ул. Лесная</b></td>
          <td>
            <a href="http://iml.ru/places?Solnechnogorsk1" target="_blank">
            Солнечногорск, ул. Лесная, д. 1а
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт  10:00-20:00, Сб  11:00-15:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Ступино, ул. Первомайская</b></td>
          <td>
            <a href="http://iml.ru/places?Stup1" target="_blank">
            Ступино, ул. Первомайская, д.18А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 9-21, Сб 10-18, Вс 10-15</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Жуковский, ул.Гагарина, д. 85</b></td>
          <td>
            <a href="http://iml.ru/places?Zhuk31" target="_blank">
            ул.Гагарина, д.85
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 09:00-21:00. Cб-Вс 09:00-19:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г.Химки, мкр.Сходня</b></td>
          <td>
            <a href="http://iml.ru/places?msk59" target="_blank">
            Химки,  мкр. Сходня, ул. Кирова, д. 3/3.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 10:00 до 20:00; сб с 10:00 до 18:00; вс - выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г.Химки, ул. Ленинградская</b></td>
          <td>
            <a href="http://iml.ru/places?msk36" target="_blank">
            Химки,  ул. Ленинградская, д. 19, офис 5.
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>График работы: пн-пт с 11:00 до 19:30 (перерыв с 15:00 до 16:00); сб-вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Чехов, ул. Ильича</b></td>
          <td>
            <a href="http://iml.ru/places?chekh1" target="_blank">
            Чехов, ул. Ильича д.39
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 09:00-18:00,Сб 10:00-14:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Щелково, микр. Финский</b></td>
          <td>
            <a href="http://iml.ru/places?Schelkovo2" target="_blank">
            Щелково, микр. Финский, д. 3
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00,  Вс 10:00-18:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Щелково, Пролетарский пр-т</b></td>
          <td>
            <a href="http://iml.ru/places?Schelkovo" target="_blank">
            Щелково, Пролетарский пр-т, д. 4/1, оф.4
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс  09:00-19:30</div>
          </td>
        </tr>
      
        <tr>
          <td><b>МО, г. Электросталь, ул. Советская</b></td>
          <td>
            <a href="http://iml.ru/places?Elektrostal1" target="_blank">
            Электросталь, ул.Советская , д. 12/1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00</div>
          </td>
        </tr>
      </tbody></table>