
      <table class="table-basket">
        <tbody>
        <tr>
          <th><b>Метро/Город</b></th>
          <th><b>Адрес</b></th>
          <th style="padding-right: 5px;"><b>Стоимость</b></th>
          <th><b>Время работы</b></th>
        </tr>
    
        <tr>
          <td><b>Гражданский пр.</b></td>
          <td>
            <a href="http://iml.ru/places?spb8" target="_blank">
            м. Гражданский проспект,  Гражданский проспект, д. 118, к.1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-21:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>Комендантский</b></td>
          <td>
            <a href="http://iml.ru/places?spb5" target="_blank">
            м. Комендантский проспект,  ул. Ильюшина, д. 5, кор. 2,лит. А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Международная</b></td>
          <td>
            <a href="http://iml.ru/places?spb14" target="_blank">
            м. Международная,  ул. Белы Куна д. 16
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00–20:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>Парк Победы</b></td>
          <td>
            <a href="http://iml.ru/places?spb6" target="_blank">
            м. Парк Победы,  Московский пр., д. 165
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 09:00- 20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пл. Восстания</b></td>
          <td>
            <a href="http://iml.ru/places?spb1" target="_blank">
            м. Площадь Восстания,  Санкт-Петербург,ул. Пушкинская, д. 10
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span> Пн-Сб 9:00–20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пр. Просвещения</b></td>
          <td>
            <a href="http://iml.ru/places?spb7" target="_blank">
            м. Проспект Просвещения,  пр. Энгельса, д.150, к.1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-21:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>ул. Дыбенко</b></td>
          <td>
            <a href="http://iml.ru/places?spb3" target="_blank">
            м. Улица Дыбенко,  пр. Большевиков, д.27 (ТК "СМАЙЛ")
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span> Пн-Сб 10:00-21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Ленинский проспект</b></td>
          <td>
            <a href="http://iml.ru/places?spb16" target="_blank">
            м. Ленинский проспект, Трамвайный пр., д. 17, к. 2, лит. А, секция 70
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 11:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Рыбацкое</b></td>
          <td>
            <a href="http://iml.ru/places?spb12" target="_blank">
            м. Рыбацкое, ул. Тепловозная д.31,
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span> Пн-Вс 10:00-22:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Парнас</b></td>
          <td>
            <a href="http://iml.ru/places?spb#27" target="_blank">
            Санкт-Петербург , м. Парнас, Ул. Федора Абрамова,д.4, стр.4
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 10:00-20:00, Сб 11:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Кировский Завод</b></td>
          <td>
            <a href="http://iml.ru/places?spb4" target="_blank">
            пр. Стачек, д.72,   Ст. м. Кировский завод,
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб 10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Садовая</b></td>
          <td>
            <a href="http://iml.ru/places?" target="_blank">
            ул. Садовая , д.38
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 11:00-21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Красное Село</b></td>
          <td>
            <a href="http://iml.ru/places?spb29" target="_blank">
            Красное Село, ул.Красногородская д.17
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-19:00 ( пер. 15:00-15:30 )</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Старая деревня</b></td>
          <td>
            <a href="http://iml.ru/places?spb #26" target="_blank">
            Торфяная дорога, д.2, к.1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 11:00-21:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пр. Большевиков</b></td>
          <td>
            <a href="http://iml.ru/places?spb11" target="_blank">
            Санкт-Петербург ,ул. Коллонтай, д.18,
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Звездная</b></td>
          <td>
            <a href="http://iml.ru/places?spb32" target="_blank">
            Санкт-Петербург ул. , Пулковская, д.11, к.1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт  11:00-19:00 ( пер. 15:00-15:30 ), Сб 12:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Купчино</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb#44" target="_blank">
            Балканская пл., д.5
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт: с 11:00 до 20:00  Сб: с 11:00 до 16:00  Вс: с 11:00 до 14:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Пиcкарёвский</b></td>
          <td>
            <a href="http://iml.ru/places?spb15" target="_blank">
            пр. Пискарёвский, д.25 А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Сб  11:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Елизаровская</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb#43" target="_blank">
            ул.Бабушкина, д.21,к.1
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>пн-пт: с 11:00 до 18:30 , перерыв с 15:00 до 16:00  Сб-Вс выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Василеостровская</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb#46" target="_blank">
            6-я Линия В.О., д.25
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10-21</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Горьковская</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb#45" target="_blank">
            Кронверкский пр., д.31
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11-20, Сб- Вс- выходной</div>
          </td>
        </tr>
      
        <tr>
          <td><b>ул. Зины Портновой</b></td>
          <td>
            <a href="http://iml.ru/places?spb37" target="_blank">
            ул. Зины Портновой, 54
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-19:00 (пер. 15:00-15:30 )</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Лигово</b></td>
          <td>
            <a href="http://iml.ru/places?spb28" target="_blank">
            Ул. Партизана Германа, д.22
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-19:00 ( пер. 15:00-15:30),  Сб  12:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Выборг </b></td>
          <td>
            <a href="http://iml.ru/places?spb35" target="_blank">
            Выборг , Ленинградское шоссе, д.47
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт  09:00-19:00,  Сб 10:00-16:00 </div>
          </td>
        </tr>
      
        <tr>
          <td><b>Бокситогорск</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb40" target="_blank">
            Ленинградская область, г.Бокситогорск, ул.Павлова, д.9
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Тихвин 1</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb39" target="_blank">
            Ленинградская область, г.Тихвин, 1 мкр, д.8
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн- Вс  10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Шлиссельбург</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb38" target="_blank">
            Ленинградская область, г.Шлиссельбург, Малоневский пр-т 12А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00-20:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Гатчина</b></td>
          <td>
            <a href="http://iml.ru/places?spb30" target="_blank">
            ЛО ,Гатчина,пр-т 25 Октября, д. 52б
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт 11:00-19:00 ( пер. 15:00-15:30 ),  Сб  12:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Тихвин 2</b></td>
          <td>
            <a href="http://iml.ru/places?http://iml.ru/places?spb#42" target="_blank">
            Тихвин, 4 микрорайон, д.39А
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Пт   09:00-19:00, Сб  10:00-16:00</div>
          </td>
        </tr>
      
        <tr>
          <td><b>Петроградская</b></td>
          <td>
            <a href="http://iml.ru/places?spb36" target="_blank">
            ул. Профессора Попова, д.23М
            </a>
            </td>
          <td>
            <div class="delivery"><span>Стоимость: </span>100 руб.</div>
          </td>
          <td>
            <div class="delivery"><span>Время работы: </span>Пн-Вс 10:00-20:00</div>
          </td>
        </tr>
      </tbody></table>