= form_for @bidspirit_task do |f|
  - if @bidspirit_task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bidspirit_task.errors.count, "error")} prohibited this bidspirit_task from being saved:"
      %ul
        - @bidspirit_task.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    .row
      .large-12.columns
        = f.label :name
        = f.text_field :name, :placeholder => "Имя задачи"
    .row
      .large-12.columns
        = f.label :q do
          Список поисковых запрос
        = f.text_area :q, :placeholder => "Список поисковых запрос"

    .row
      .large-12.columns
        = f.label :notifi_template_id do
          Шаблон нотификации
        =f.select :notifi_template_id , @notifi_teplates, {include_blank: t('none')}

    .row
      .large-12.columns
        = f.label :gdrive_id do
          Включить заспросы из google doc
        =f.select :gdrive_id , @gdrive, {include_blank: t('none')}


  %fieldset
    %legend Переодичность

    .row
      .large-6.columns
        = f.label :interval do
          Интервал
          %span{:id=>"RangeIntervalResult"}
            = @bidspirit_task.interval
          Мин.

        =f.range_field :interval, in:10..44640, step:30, class:"range-interval"

        .date
          = f.label :next_at do
            Следующий запуск UTC
          =f.datetime_select :next_at

      .large-6.columns
        %label
          Включить задачу
        .switch
          = f.check_box :active, {:class => 'switch-input'}
          = f.label :active, {:class => 'switch-paddle'} do
            %span{:class=>"show-for-sr"}
              Активно


  %ul.stack.button-group
    %li
      = link_to avito_tasks_path, :class => 'button secondary ' do
        Назад
    %li
      =f.button :class=>"button success" do
        Сохранить
