%h1 Список задач

%table
  %thead
    %tr
      %th= t'name'
      %th= t'interval'
      %th= t'active'
      %th= t'next_at'
      %th
      %th

  %tbody
    - @bidspirit_tasks.each do |bidspirit_task|
      %tr
        %td= link_to bidspirit_task.name, bidspirit_task
        %td= bidspirit_task.interval
        %td=t("bool_#{bidspirit_task.active}")
        %td= bidspirit_task.next_at
        %td= link_to t('edit'), edit_bidspirit_task_path(bidspirit_task)
        %td= link_to t('destroy'), bidspirit_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to new_bidspirit_task_path, :class => "button expand success" do
  = t('new')