%p#notice= notice

%p
  %b Name:
  = @bidspirit_task.name
%p
  %b Stat:
  = @bidspirit_task.stat
%p
  %b Q:
  = @bidspirit_task.q
%p
  %b Count:
  = @bidspirit_task.count
%p
  %b Interval:
  = @bidspirit_task.interval
%p
  %b Active:
  = @bidspirit_task.active
%p
  %b Counter:
  = @bidspirit_task.counter
%p
  %b P:
  = @bidspirit_task.p
%p
  %b E:
  = @bidspirit_task.e
%p
  %b Notifi template:
  = @bidspirit_task.notifi_template_id
%p
  %b Next at:
  = @bidspirit_task.next_at
%p
  %b Gdrive:
  = @bidspirit_task.gdrive_id

= link_to 'Edit', edit_bidspirit_task_path(@bidspirit_task)
\|
= link_to 'Back', bidspirit_tasks_path
