= form_for @oldbook_file do |f|
  - if @oldbook_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@oldbook_file.errors.count, "error")} prohibited this oldbook_file from being saved:"
      %ul
        - @oldbook_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :path
    = f.text_field :path
  .field
    = f.label :task_id
    = f.number_field :task_id
  .actions
    = f.submit 'Save'
