%h1 Listing oldbook_files

%table
  %thead
    %tr
      %th Path
      %th Task
      %th
      %th
      %th

  %tbody
    - @oldbook_files.each do |oldbook_file|
      %tr
        %td= oldbook_file.path
        %td= oldbook_file.task_id
        %td= link_to 'Show', oldbook_file
        %td= link_to 'Edit', edit_oldbook_file_path(oldbook_file)
        %td= link_to 'Destroy', oldbook_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New File', new_oldbook_file_path
