%h1 Список задач

%table
  %thead
    %tr
      %th= t'name'
      %th= t'interval'
      %th= t'active'
      %th= t'next_at'
      %th
      %th

  %tbody
    - @alib_tasks.each do |alib_task|
      %tr
        %td= link_to alib_task.name, alib_task
        %td= alib_task.interval
        %td=t("bool_#{alib_task.active}")
        %td= alib_task.next_at
        %td= link_to t('edit'), edit_alib_task_path(alib_task)
        %td= link_to t('destroy'), alib_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to new_alib_task_path, :class => "button expand success" do
  = t('new')