%p#notice= notice

%h1
  = @alib_task.name

%p
  %b Запрос:
  = @alib_task.q

%p
  %b Интервал:
  = @alib_task.interval

%p
  %b Следующий запуск:
  = @alib_task.next_at


%h2
  Книг в наличии -
  = @alib_task.alib_tasklogs.count

%ul
  -@alib_task.alib_tasklogs.each do |t|
    %li= t.q['title']


= link_to alib_tasks_path, :class => 'button secondary' do
  = t('back')
= link_to edit_alib_task_path(@alib_task), :class => 'button secondary' do
  = t('edit')
