%h1 Listing oldbook_products

%table
  %thead
    %tr
      %th Path
      %th Task
      %th Category
      %th Uid
      %th Parse
      %th J
      %th
      %th
      %th

  %tbody
    - @oldbook_products.each do |oldbook_product|
      %tr
        %td= oldbook_product.path
        %td= oldbook_product.task_id
        %td= oldbook_product.category_id
        %td= oldbook_product.uid
        %td= oldbook_product.parse
        %td= oldbook_product.j
        %td= link_to t('show'), oldbook_product
        %td= link_to t('edit'), edit_oldbook_product_path(oldbook_product)
        %td= link_to t('destroy'), oldbook_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_oldbook_product_path
