%p#notice= notice

%p
  %b Path:
  = @oldbook_product.path
%p
  %b Task:
  = @oldbook_product.task_id
%p
  %b Category:
  = @oldbook_product.category_id
%p
  %b Uid:
  = @oldbook_product.uid
%p
  %b Parse:
  = @oldbook_product.parse
%p
  %b J:
  = @oldbook_product.j

= link_to 'Edit', edit_oldbook_product_path(@oldbook_product)
\|
= link_to 'Back', oldbook_products_path
