// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ul{
  //margin-bottom: 0px !important;
//}

.exit{
  background-color: #913A2B
}

.beta{
  background-image: url('logo-bg.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.off-canvas-wrap, .inner-wrap{
  height: 100%
}

.top{
  padding-top: 30px;
}

.logo-sm img{
  width: 70px !important;
  height: 70px !important;
}

.logo-sm{
  background-color: #303030;
  display: block;
  text-align: center;
}

.logo-sm:hover{
  background-color: #333
}


.main{
  height: 100%;
}

.form-work{
  margin-top: 100px;
  opacity: 0.9px;
}

.navf{
  position: fixed;
}



.active1{
  background-color:#43AC6A;
}


// loader animate
#loader-wraper{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  //и пошли другие браузеры на ...
  background: linear-gradient(135deg, rgba(51,51,51,0.2) 0%,rgba(85,85,85,0.4) 100%); /* W3C */
}

.loader {
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
  margin: auto;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  vertical-align: middle;
  background: linear-gradient(135deg, rgba(100,100,100,0.2) 0%,rgba(85,85,85,0.4) 100%); /* W3C */

}

body.loading #loader-wraper{
  display: inherit;
}

.buggg{
  position: absolute;
  bottom: 0px;
  width: 100% !important;
  border-top: 1px solid #F00;
}

//notification
#agnid{
  position: fixed;
  bottom: 0px;
  right: 10px;
}




.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-left: 125px;
  width: 100%;
}

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 125px !important;
  background-color:#333;
}

.nav-small{
  display: none;
}

.sub-params{
  display: block;
  padding-left: 20px;
}

@media only screen and (max-width: 640px) {

  body { -webkit-text-size-adjust: none; }

  .container { padding-left: 0; }

  .sidebar {
    display:  none;
  }

  .nav-small{
    display: inherit;
  }

}

tr{
  &.warning{
     background-color: rgba(145, 94, 43,0.2);
  }

  &.error{
    background-color: rgba(145, 58, 43, 0.2);
  }

  &.progress{
    background-color: rgba(59, 111, 78, 0.2);
  }
}

#ddev{
  position: fixed;
  color: green;
  background-color: #333;
  padding: 0 10px 20px 20px;
  right: 0;
  top: 0;
  opacity: 0.6;
  border: solid #111 1px;
  width: 125px;
  height: 60px;
  overflow: hidden;




  &:hover{
    width: auto;
    height: auto;
    opacity: 0.9;

    h1{
      display:none;
    }
  }

  h3 {
    color: #ddd;
  }

}

.av-image{
  text-align: center;
}


textarea{
  height: 200px;
  resize: vertical;
}

.date{
  select{
    width: auto;
  }
}

.imgj{
  float: left;
  padding: 10px;
}

.qwery{
  color: #999;
  font-style: italic;
}

.qwery::before{
  content: "Запрос: ";
  font-style: italic;
  color: #777;
}

.group{
  background-color: $secondary-color;
}
