= form_for @iml_city do |f|
  - if @iml_city.errors.any?
    #error_explanation
      %h2= "#{pluralize(@iml_city.errors.count, "error")} prohibited this iml_city from being saved:"
      %ul
        - @iml_city.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :prefix
    = f.text_field :prefix
  .field
    = f.label :zoom
    = f.text_field :zoom
  .field
    = f.label :lat
    = f.text_field :lat
  .field
    = f.label :lon
    = f.text_field :lon
  .field
    = f.label :geo
    = f.text_field :geo
  .actions
    = f.submit 'Save'
