%h1= t('iml_cities')

%table
  %thead
    %tr
      %th=t 'name'
      %th=t 'prefix'
      %th=t 'zoom'
      %th
      %th

  %tbody
    - @iml_cities.each do |iml_city|
      %tr
        %td
          %a{:href => "http://iml.ru/places#{iml_city.prefix}", :target=>"_blank"}
            = iml_city.name
        %td= iml_city.zoom
        %td= link_to t('Show'), iml_city
        %td= link_to t('Edit'), edit_iml_city_path(iml_city)
