%p#notice= notice

%p
  %b Name:
  = @iml_city.name
%p
  %b Prefix:
  = @iml_city.prefix
%p
  %b Zoom:
  = @iml_city.zoom
%p
  %b Lat:
  = @iml_city.lat
%p
  %b Lon:
  = @iml_city.lon
%p
  %b Geo:
  = @iml_city.geo

= link_to 'Edit', edit_iml_city_path(@iml_city)
\|
= link_to 'Back', iml_cities_path
