%h1 Список задач

%table
  %thead
    %tr
      %th= t'name'
      %th= t'interval'
      %th= t'active'
      %th= t'next_at'
      %th
      %th

  %tbody
    - @newauction_tasks.each do |newauction_task|
      %tr
        %td= link_to newauction_task.name, newauction_task
        %td= newauction_task.interval
        %td=t("bool_#{newauction_task.active}")
        %td= newauction_task.next_at
        %td= link_to t('edit'), edit_newauction_task_path(newauction_task)
        %td= link_to t('destroy'), newauction_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
 
= link_to new_newauction_task_path, :class => "button expand success" do
  = t('new')