%p#notice= notice

%p
  %b Name:
  = @newauction_task.name
%p
  %b Q:
  = @newauction_task.q
%p
  %b Stat:
  = @newauction_task.stat
%p
  %b Count:
  = @newauction_task.count
%p
  %b Interval:
  = @newauction_task.interval
%p
  %b Active:
  = @newauction_task.active
%p
  %b Counter:
  = @newauction_task.counter
%p
  %b P:
  = @newauction_task.p
%p
  %b E:
  = @newauction_task.e
%p
  %b Next at:
  = @newauction_task.next_at

= link_to 'Edit', edit_newauction_task_path(@newauction_task)
\|
= link_to 'Back', newauction_tasks_path
