%ul#menu
  -if user_signed_in?
    %li
      =link_to "#c-avito", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Avito
      %ul#c-avito{:class=> collapse("avito")}
        %li
          =link_to avito_tasks_path do
            %span Мониторинг

        -if 1==0
          %li
            =link_to avito_postings_path do
              %span Постинг
          %li
            =link_to avito_accounts_path do
              %span Аккаунты

    %li
      =link_to "#c-ebay", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Ebay
      %ul#c-ebay{:class=> collapse("ebay")}
        %li
          =link_to ebay_tasks_path do
            %span Мониторинг

    %li
      =link_to "#c-newauction", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Newauction
      %ul#c-newauction{:class=> collapse("newauction")}
        %li
          =link_to newauction_tasks_path do
            %span Мониторинг

    %li
      =link_to "#c-bidspirit", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Bidspirit
      %ul#c-bidspirit{:class=> collapse("bidspirit")}
        %li
          =link_to bidspirit_tasks_path do
            %span Мониторинг

    %li
      =link_to "#c-alib", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Alib
      %ul#c-alib{:class=> collapse("alib")}
        %li
          =link_to alib_tasks_path do
            %span Мониторинг


    %li
      =link_to "#c-iml", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Iml
      %ul#c-iml{:class=> collapse("iml")}
        %li
          =link_to iml_cities_path do
            %span Города
        %li
          =link_to iml_points_path do
            %span Точки





    %li
      =link_to "#c-notifi", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Нотификация
      %ul#c-notifi{:class=> collapse("notifi")}
        %li
          =link_to notifi_templates_path do
            %span Шаблоны

    %li
      =link_to "#c-oldbook", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Oldbook
      %ul#c-oldbook{:class=> collapse("oldbook")}
        %li
          =link_to oldbook_tasks_path do
            %span Парсинг
        %li
          =link_to oldbook_categories_path do
            %span Категории


    %li
      =link_to "#c-artelbook", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Artelbook
      %ul#c-artelbook{:class=> collapse("artelbook")}
        %li
          =link_to artelbook_tasks_path do
            %span Парсинг
        %li
          =link_to artelbook_categories_path do
            %span Категории


    %li
      =link_to settings_path do
        %span Настройки

    %li
      =link_to gdrives_path do
        %span Google doc



  -else
    %li
      =link_to new_user_session_path do
        %span Вход

  -if user_signed_in?

    %li
      =link_to "#c-account", :data => {:toggle=>"collapse", :parent=>"#menu" } do
        %span Аккаунт
      %ul#c-account{:class=> collapse(["devise", "devise_invitable", "images", "roles"]) }
        %li
          =link_to new_user_invitation_path do
            %span Пригласить
        -if 0==1
          %li
            =link_to images_path do
              %span Картинки

        - if current_user.role_id >= 1024
          %li
            =link_to roles_path do
              %span Групы

        %li
          =link_to destroy_user_session_path, :method => :delete do
            %span Выход







