!!!
%html{:lang=>"ru"}
  %head
    %title Ezra – мониторинг
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta(charset="utf-8")
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{content: "", name: "keywords"}/
    %meta{content: "", name: "description"}/
    %meta{content: "Alexey Vildyaev <alexey@alphav.ru>", name: "author"}/
    = csrf_meta_tags


  %body

    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        .container.main-container
          .main-nav

            %nav.tab-bar.nav-small
              %a.left-off-canvas-toggle.menu-icon
                %span
              .middle.tab-bar-section
                Ezra mobile

            %nav.sidebar.vertical
              //navf.five-up
              //%a.item.logo-sm{:href => "/"}
              //%img{:src => "/assets/logo-sm.svg"}/


              = render "layouts/menu"


            %aside.left-off-canvas-menu
              = render "layouts/menu"



          .row.top
            .large-12.columns

          .row
            .large-12.columns
              = yield

          //fixed
          #agnid
            -if notice
              .callout.info.radius{"data-alert" => ""}
                = raw notice
                %a.close{:href => "#"} &#215;

            -if alert
              .callout.alert.radius{"data-alert" => ""}
                = raw alert
                %a.close{:href => "#"} &#215;

          #loader-wraper
            .loader
              %svg#loader-1{  :height => "40px",
                              :style => "enable-background:new 0 0 50 50;",
                              :version => "1.1",
                              :viewbox => "0 0 50 50",
                              :width => "40px",
                              :x => "0px",
                              "xml:space" => "preserve",
                              :xmlns => "http://www.w3.org/2000/svg",
                              "xmlns:xlink" => "http://www.w3.org/1999/xlink",
                              :y => "0px"}

                %path{:d => "M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z", :fill => "#007095"}
                  %animatetransform{:attributename => "transform", :attributetype => "xml", :dur => "0.6s", :from => "0 25 25", :repeatcount => "indefinite", :to => "360 25 25", :type => "rotate"}



    - if !current_user.blank? && current_user.role_id >= 1024
      #ddev
        %h1 YAY!

        %h3=t 'http_params'
        %pre= debug(params)

        %h3=t 'ruby_run'
        %pre= debug(`ps -ax | grep 'ruby' | grep -v grep`)


    //a= render "layouts/yam"
